.input{
//height:70px;
  width: 300px;
  font-size:16px;
}
.RowTuneTag{
  display: flex;
  margin-bottom:10px;
  gap:17px;
  font-size:16px;
  //margin:50px;
}
.JsxTagsArray{
  margin:20px 0;
  //gap:20px;
}
.Button{
  //height:40px;
  width:120px;
}
.ButtonAdd{
  //height:40px;
  width:136px;
}
.inputLabel{
  margin:10px 0px;
}